##This notebook combines the two datasets of locusts created in other notebooks and then trains two models on it - RandomForest and SVC classifier

In [3]:
import pandas as pd
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
import numpy as np
import time
from sklearn import metrics
import pickle
import numpy as np
import requests
import os
import pandas as pd
import csv

from io import BytesIO
from matplotlib.pyplot import imshow
from PIL import Image

import rasterio
import rasterio.features
import rasterio.warp
from rasterio import MemoryFile
from PIL import ImageColor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm

In [2]:
!pip install rasterio

Collecting rasterio
  Downloading https://files.pythonhosted.org/packages/cc/1c/0f36885ac5864b8ad75f167ca1d403666a5f0c3b2ea8ad3366c98a628e99/rasterio-1.1.7-cp36-cp36m-manylinux1_x86_64.whl (18.1MB)
     |████████████████████████████████| 18.1MB 1.3MB/s
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from rasterio) (7.1.2)
Collecting affine
  Downloading https://files.pythonhosted.org/packages/ac/a6/1a39a1ede71210e3ddaf623982b06ecfc5c5c03741ae659073159184cd3e/affine-2.3.0-py2.py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from rasterio) (1.18.5)
Requirement already satisfied: attrs in /usr/local/lib/python3.6/dist-packages (from rasterio) (20.2.0)
Collecting click-plugins
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Collecting snuggs>=1.4.1
  Downloading https://files.pythonhosted.org/packages/cc/0e/d27d6e806d6c0d1a2cfdc5d1f088e42339a0a54a09c3343f7f81ec8947ea/snuggs-1.4.7-py3-none-any.whl
Requirement already satisfied: pyparsing>=2.1.6 in /usr/local/lib/python3.6/dist-packages (from snuggs>=1.4.1->rasterio) (2.4.7)
Installing collected packages: cligj, affine, click-plugins, snuggs, rasterio
Successfully installed affine-2.3.0 click-plugins-1.1.1 cligj-0.5.0 rasterio-1.1.7 snuggs-1.4.7

In [5]:
df1 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Train_Data.csv")
df2 = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Train_Data _Random.csv")

In [6]:
df2.head()

   Unnamed: 0  Latitude   ...  Soil_Temperature  Vegetation_Index
0           0  47.668856  ...           #f1fc05           #338301
1           1  25.359223  ...           #182033           #182033
2           2  34.606546  ...           #223543           #223543
3           3  39.889036  ...           #ff9800           #87b30a
4           4  44.563030  ...           #ffa300           #96ba20

[5 rows x 10 columns]

In [7]:
df1.head()

   Unnamed: 0   Latitude  Longitude  ...  Elevation Soil_Temperature  Vegetation_Index
0           0  44.073889   9.503333  ...    #ccc80a          #ff4d00           #b09279
1           1  45.466944   9.577222  ...    #c6d20b          #ff5100           #b0cf69
2           2  45.466389   9.576111  ...    #c6d20b          #ff5100           #9a6e5a
3           3  37.425833   3.141667  ...    #2bba3e          #d50000           #d1c0ab
4           4  37.425833   3.141667  ...    #2bba3e          #d50000           #d1c0ab

[5 rows x 10 columns]

In [8]:
df1

     Unnamed: 0   Latitude  ...  Soil_Temperature  Vegetation_Index
0             0  44.073889  ...           #ff4d00           #b09279
1             1  45.466944  ...           #ff5100           #b0cf69
2             2  45.466389  ...           #ff5100           #9a6e5a
3             3  37.425833  ...           #d50000           #d1c0ab
4             4  37.425833  ...           #d50000           #d1c0ab
..          ...        ...  ...               ...               ...
345         345  35.037500  ...           #ff3f00           #bfde78
346         346  35.037778  ...           #ff3f00           #bfde77
347         347  37.416667  ...           #d50000           #b9ab9c
348         348  36.721667  ...           #c80000           #ddc9bd
349         349  34.700000  ...           #ff8500           #086701

[350 rows x 10 columns]

In [10]:
df = df1.append(df2)
df

     Unnamed: 0   Latitude  Longitude  ...  Vegetation_Index  Latitude   Longitude
0             0  44.073889   9.503333  ...           #b09279        NaN         NaN
1             1  45.466944   9.577222  ...           #b0cf69        NaN         NaN
2             2  45.466389   9.576111  ...           #9a6e5a        NaN         NaN
3             3  37.425833   3.141667  ...           #d1c0ab        NaN         NaN
4             4  37.425833   3.141667  ...           #d1c0ab        NaN         NaN
..          ...        ...        ...  ...               ...        ...         ...
345         345        NaN        NaN  ...           #a9896f  39.697178  -85.876508
346         346        NaN        NaN  ...           #965a46  37.814041 -100.164967
347         347        NaN        NaN  ...           #529800  47.051322 -103.500604
348         348        NaN        NaN  ...           #d5d3d6  30.759271  -70.600521
349         349        NaN        NaN  ...           #656d70  30.059166  -86.648012

[700 rows x 12 columns]

In [11]:
df.shape

(700, 12)

In [15]:
dataX = df[df.columns[[6,7,8,9]]]
dataY = df[df.columns[[5]]]

In [16]:
dataX.head()

  Soil_Moisture Elevation Soil_Temperature Vegetation_Index
0       #fffa00   #ccc80a          #ff4d00          #b09279
1       #fff900   #c6d20b          #ff5100          #b0cf69
2       #fff900   #c6d20b          #ff5100          #9a6e5a
3       #ffd700   #2bba3e          #d50000          #d1c0ab
4       #ffd700   #2bba3e          #d50000          #d1c0ab

Converting the hex code to rgb components and storing them

In [21]:
count = 0
r,g,b,r1, g1, b1,r2, g2, b2,r3, g3, b3 = [],[],[],[],[],[],[],[],[],[],[],[]
for index, row in dataX.iterrows():
  print(count)
  hex = dataX.iloc[count][0]
  rgb =  ImageColor.getcolor(str(hex), "RGB")
  r.append(rgb[0])
  g.append(rgb[1])
  b.append(rgb[2])
  hex = dataX.iloc[count][1]
  rgb =  ImageColor.getcolor(str(hex), "RGB")
  r1.append(rgb[0])
  g1.append(rgb[1])
  b1.append(rgb[2])
  hex = dataX.iloc[count][2]
  rgb =  ImageColor.getcolor(str(hex), "RGB")
  r2.append(rgb[0])
  g2.append(rgb[1])
  b2.append(rgb[2])
  hex = dataX.iloc[count][3]
  rgb =  ImageColor.getcolor(str(hex), "RGB")
  r3.append(rgb[0])
  g3.append(rgb[1])
  b3.append(rgb[2])
  count += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699

In [22]:
len(r1)

700

In [23]:
new_columns = ["R_soil", "G_soil", "B_soil", "R_ele", "G_ele", "B_ele","R_temp", "G_temp", "B_temp", "R_veg", "G_veg", "B_veg",]

In [24]:
df[new_columns[0]] = r
df[new_columns[1]] = g
df[new_columns[2]] = b
df[new_columns[3]] = r1
df[new_columns[4]] = g1
df[new_columns[5]] = b1
df[new_columns[6]] = r2
df[new_columns[7]] = g2
df[new_columns[8]] = b2
df[new_columns[9]] = r3
df[new_columns[10]] = g3
df[new_columns[11]] = b3

In [25]:
df.head()

   Unnamed: 0   Latitude  Longitude     ID  ... B_temp  R_veg G_veg B_veg
0           0  44.073889   9.503333  34132  ...      0    176   146   121
1           1  45.466944   9.577222  34133  ...      0    176   207   105
2           2  45.466389   9.576111  34134  ...      0    154   110    90
3           3  37.425833   3.141667  34149  ...      0    209   192   171
4           4  37.425833   3.141667  34150  ...      0    209   192   171

[5 rows x 24 columns]

In [27]:
X = df[df.columns[[12,13,14,15,16,17,18,19,20,21,22,23]]]
X

     R_soil  G_soil  B_soil  R_ele  G_ele  ...  G_temp  B_temp  R_veg  G_veg  B_veg
0       255     250       0    204    200  ...      77       0    176    146    121
1       255     249       0    198    210  ...      81       0    176    207    105
2       255     249       0    198    210  ...      81       0    154    110     90
3       255     215       0     43    186  ...       0       0    209    192    171
4       255     215       0     43    186  ...       0       0    209    192    171
..      ...     ...     ...    ...    ...  ...     ...     ...    ...    ...    ...
345       0     254     255      0    172  ...     170       0    169    137    111
346     178     216       0    192    221  ...     140       0    150     90     70
347      53     154       0    191    222  ...     192       0     82    152      0
348     213     211     214    213    211  ...     211     214    213    211    214
349     101     109     112    101    109  ...     109     112    101    109    112

[700 rows x 12 columns]

In [28]:
dataY.astype(int)

     Locust
0         1
1         1
2         1
3         1
4         1
..      ...
345       0
346       0
347       0
348       0
349       0

[700 rows x 1 columns]

Train-Test Split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, dataY, test_size=0.3)

Random Forest Classifier

In [37]:
clf=RandomForestClassifier(n_estimators=100)

In [38]:
X_train

     R_soil  G_soil  B_soil  R_ele  G_ele  ...  G_temp  B_temp  R_veg  G_veg  B_veg
321     255     249       0    198    210  ...      81       0    176    207    105
210     178     216       0     65    191  ...     159       0     83    151      0
283      86     100     113     86    100  ...     100     113     86    100    113
287     255     219       0     78    195  ...       0       0    200    181    165
69       54      61      77     54     61  ...      61      77     54     61     77
..      ...     ...     ...    ...    ...  ...     ...     ...    ...    ...    ...
51       17      23      39     17     23  ...      23      39     17     23     39
265     255     251       0    193    219  ...      63       0    191    222    120
68      255     205       0      0    162  ...      92       0    209    192    172
74      255     251       0    192    220  ...      63       0    157    124     95
218     255     215       0     40    185  ...       0       0    185    171    156

[490 rows x 12 columns]

In [39]:
y_train = list(y_train[y_train.columns[0]])
y_test = list(y_test[y_test.columns[0]])

In [40]:
clf = clf.fit(X_train,y_train)

In [41]:
y_pred = clf.predict(X_test)

In [42]:
print("Training Accuracy:",metrics.accuracy_score(y_train, clf.predict(X_train)))
print("Test Accuracy:",metrics.accuracy_score(y_test, y_pred))
base_accuracy = metrics.accuracy_score(y_test, y_pred)

Training Accuracy: 1.0
Test Accuracy: 1.0

In [43]:
cm = metrics.confusion_matrix(y_test,y_pred)

In [44]:
cm

array([[106,   0],
       [  0, 104]])

Hyperparameter Tuning

In [ ]:
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 2000, num = 10)]
max_features = ['auto', 'sqrt']
max_depth = [int(x) for x in np.linspace(5, 110, num = 10)]
max_depth.append(None)
min_samples_split = [2, 5, 10]
min_samples_leaf = [1, 2, 4, 10]
bootstrap = [True, False]
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

{'n_estimators': [100, 311, 522, 733, 944, 1155, 1366, 1577, 1788, 2000], 'max_features': ['auto', 'sqrt'], 'max_depth': [5, 16, 28, 40, 51, 63, 75, 86, 98, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4, 10], 'bootstrap': [True, False]}

In [ ]:
start_time = time.time()
rf = RandomForestClassifier()
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
rf_random.fit(X_train, y_train)
print("Total time taken--- %s seconds---" % (time.time() - start_time))

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   49.5s
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  5.7min finished

Total time taken--- 345.847177028656 seconds---

In [ ]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    accuracy = metrics.accuracy_score(test_labels, predictions)
    print('Model Performance')
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy, predictions

In [ ]:
best_random = rf_random.best_estimator_
random_accuracy, preds = evaluate(best_random, X_test, y_test)
random_accuracy

Model Performance
Accuracy = 0.69%.

0.6865671641791045

In [ ]:
print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - base_accuracy) / base_accuracy))

Improvement of 2.22%.

In [ ]:
cm = metrics.confusion_matrix(y_test,preds)
cm

array([[24, 30],
       [12, 68]])

In [45]:
pickle.dump(clf, open("best_rf_model.sav", 'wb'))

**Support** **Vector** **Machines**

In [46]:
svc = svm.SVC(kernel='rbf') 

svc.fit(X_train, y_train)

y_pred = svc.predict(X_test)
accuracy = metrics.accuracy_score(y_test, y_pred)
print(accuracy)

1.0

In [47]:
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

Precision: 1.0
Recall: 1.0

In [48]:
print("Train accuracy", metrics.accuracy_score(y_train, svc.predict(X_train)))
print("Test accuracy", accuracy)
print(metrics.confusion_matrix(y_test,y_pred))
print(metrics.classification_report(y_test,y_pred))

Train accuracy 0.9938775510204082
Test accuracy 1.0
[[106   0]
 [  0 104]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       106
           1       1.00      1.00      1.00       104

    accuracy                           1.00       210
   macro avg       1.00      1.00      1.00       210
weighted avg       1.00      1.00      1.00       210

Hyperparameter tuning

In [ ]:
param_grid = {'C': [0.1,1, 10, 100], 'gamma': [1,0.1,0.01,0.001],'kernel': ['rbf', 'poly', 'sigmoid']}

In [ ]:
start_time = time.time()
svm = svm.SVC()
grid = GridSearchCV(svm,param_grid,verbose=2, cv = 3)
grid.fit(X_train,y_train)
print("Total time taken--- %s seconds---" % (time.time() - start_time))

Fitting 3 folds for each of 48 candidates, totalling 144 fits
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV] ....................... C=0.1, gamma=1, kernel=rbf, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV] ....................... C=0.1, gamma=1, kernel=rbf, total=   0.0s
[CV] C=0.1, gamma=1, kernel=rbf ......................................
[CV] ....................... C=0.1, gamma=1, kernel=rbf, total=   0.0s
[CV] C=0.1, gamma=1, kernel=poly .....................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s

In [ ]:
print(grid.best_estimator_)
best_svm = grid.best_estimator_

In [ ]:
#pickle.dump(clf, open("rf_model.sav", 'wb'))

In [49]:
pickle.dump(svc, open("BEST_SVM_model.sav", 'wb'))

**Python API function to use this model**

In [50]:
feature_list = ['Soil_Moisture', 'Elevation', 'Soil_Temperature', 'Vegetation_Index']

In [51]:
List_URL = [
"https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME={}&BBOX={}&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,SMAP_L4_Analyzed_Surface_Soil_Moisture&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134",
"https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME={}&BBOX={}&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,ASTER_GDEM_Color_Index&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134",
"https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME={}&BBOX={}&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,SMAP_L4_Soil_Temperature_Layer_1&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134",
"https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME={}&BBOX={}&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,MODIS_Terra_NDVI_8Day&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134",
]

#1:SMAP_L4_Analyzed_Surface_Soil_Moisture
#2:ASTER_GDEM_Color_Index (Elevation)
#3:SMAP_L4_Soil_Temperature_Layer_1 (Soil Temp)
#4 MODIS_Terra_NDVI_8Day

In [103]:
def get_val(lat, longo, time):
  unit_length = 0.06
  lower_lat = lat - unit_length
  left_long = longo - unit_length

  upper_lat = lat + unit_length
  right_long = longo + unit_length 

  Bbox = (lower_lat,left_long,upper_lat,right_long)

  Bbox = str(Bbox)[1:]

  Bbox = Bbox[:-1]

  Bbox = Bbox.replace(" ", "")
  df = pd.DataFrame(columns = feature_list)
  for i in range(len(List_URL)):
      
      link = List_URL[i]
      url = link.format(time, Bbox)
      response = requests.get(url)
      # print(url)
      img = BytesIO(response.content)

      with open("example2.tif", "wb") as  f:
        f.write(img.getvalue())

      with rasterio.open('example2.tif') as dataset:
        mask = dataset.dataset_mask()
        
        for geom, val in rasterio.features.shapes(
                mask, transform=dataset.transform):
  
            geom = rasterio.warp.transform_geom(
              dataset.crs, 'EPSG:4326', geom, precision=6)
     
            b = dataset.index(longo, lat)
            a = dataset.read()
            index = a[:,b[0]-1,b[1]]
            index = '#%02x%02x%02x' % (index[0], index[1],index[2])
            
            df.loc[0, feature_list[i]] = index
  return df

In [53]:
new_columns = ["R_soil", "G_soil", "B_soil", "R_ele", "G_ele", "B_ele","R_temp", "G_temp", "B_temp", "R_veg", "G_veg", "B_veg",]

In [112]:
def getRBGValues(df):
  count = 0
  r,g,b,r1, g1, b1,r2, g2, b2,r3, g3, b3 = [],[],[],[],[],[],[],[],[],[],[],[]
  for index, row in df.iterrows():
    # print(count)
    hex = df.iloc[count][0]
    # print("1",df)
    rgb =  ImageColor.getcolor(str(hex), "RGB")
    r.append(rgb[0])
    g.append(rgb[1])
    b.append(rgb[2])
    # print("2",hex)
    hex = df.iloc[count][1]
    rgb =  ImageColor.getcolor(str(hex), "RGB")
    r1.append(rgb[0])
    g1.append(rgb[1])
    b1.append(rgb[2])
    hex = df.iloc[count][2]
    rgb =  ImageColor.getcolor(str(hex), "RGB")
    r2.append(rgb[0])
    g2.append(rgb[1])
    b2.append(rgb[2])
    hex = df.iloc[count][3]
    rgb =  ImageColor.getcolor(str(hex), "RGB")
    r3.append(rgb[0])
    g3.append(rgb[1])
    b3.append(rgb[2])
    count += 1
    df[new_columns[0]] = r
  df[new_columns[1]] = g
  df[new_columns[2]] = b
  df[new_columns[3]] = r1
  df[new_columns[4]] = g1
  df[new_columns[5]] = b1
  df[new_columns[6]] = r2
  df[new_columns[7]] = g2
  df[new_columns[8]] = b2
  df[new_columns[9]] = r3
  df[new_columns[10]] = g3
  df[new_columns[11]] = b3
  return df

In [59]:
def load_model():
  model = pickle.load(open("best_rf_model.sav", 'rb'))
  return model

Just call this function with latitude, longitude and date to check for locust invasion

In [107]:
def get_locust_prob(lat, longo, date):
  df = get_val(lat, longo, date)
  df = getRBGValues(df)
  model = load_model()  
  prediction = model.predict(df[df.columns[4:]])
  print("predcition is",prediction)
  return prediction

API test

In [99]:
lat = 9.5033
longo = 44.073
date = "2020-06-30"
get_locust_prob(lat, longo, date)

https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME=2020-06-30&BBOX=9.443299999999999,44.013,9.5633,44.133&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,SMAP_L4_Analyzed_Surface_Soil_Moisture&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134
https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME=2020-06-30&BBOX=9.443299999999999,44.013,9.5633,44.133&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,ASTER_GDEM_Color_Index&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134
https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME=2020-06-30&BBOX=9.443299999999999,44.013,9.5633,44.133&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,SMAP_L4_Soil_Temperature_Layer_1&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134
https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME=2020-06-30&BBOX=9.443299999999999,44.013,9.5633,44.133&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,MODIS_Terra_NDVI_8Day&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134
0
1   Soil_Moisture Elevation Soil_Temperature Vegetation_Index
0       #fffa00   #ccc80a          #ff4d00          #b09279
2 #fffa00
   R_soil  G_soil  B_soil  R_ele  G_ele  ...  G_temp  B_temp  R_veg  G_veg  B_veg
0     255     250       0    204    200  ...      77       0    176    146    121

[1 rows x 12 columns]
predcition is [1]

array([1])

In [100]:
lat = -80.920
longo = 49.2727
date = "2020-06-30"
get_locust_prob(lat, longo, date)

https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME=2020-06-30&BBOX=-80.98,49.2127,-80.86,49.3327&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,SMAP_L4_Analyzed_Surface_Soil_Moisture&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134
https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME=2020-06-30&BBOX=-80.98,49.2127,-80.86,49.3327&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,ASTER_GDEM_Color_Index&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134
https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME=2020-06-30&BBOX=-80.98,49.2127,-80.86,49.3327&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,SMAP_L4_Soil_Temperature_Layer_1&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134
https://wvs.earthdata.nasa.gov/api/v1/snapshot?REQUEST=GetSnapshot&TIME=2020-06-30&BBOX=-80.98,49.2127,-80.86,49.3327&CRS=EPSG:4326&LAYERS=VIIRS_SNPP_CorrectedReflectance_TrueColor,MODIS_Terra_NDVI_8Day&WRAP=day,day&FORMAT=image/tiff&WIDTH=380&HEIGHT=385&ts=1601748025134
0
1   Soil_Moisture Elevation Soil_Temperature Vegetation_Index
0       #000000   #000000          #000000          #000000
2 #000000
   R_soil  G_soil  B_soil  R_ele  G_ele  ...  G_temp  B_temp  R_veg  G_veg  B_veg
0       0       0       0      0      0  ...       0       0      0      0      0

[1 rows x 12 columns]
predcition is [0]

array([0])

In [77]:
kenya = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Kenya_Coordinates.csv")

In [78]:
kenya.head()

   Row  Latitude  Longitude  Value
0    0  2.890300  37.314312     -1
1    1  2.439163  38.226922     -1
2    2 -3.230316  35.183446     -1
3    3  3.248599  39.018753     -1
4    4  0.153488  40.575585     -1

In [80]:
infestion_date = "2020-06-25"
post_date = "2020-09-16"

In [114]:
def mulitple_locust_prob(df, date):
  values = []
  count = 0
  for row in df.iterrows():
    if(count > 150): break
    lat = df.iloc[count][1]
    longo = df.iloc[count][2]
    pred = get_locust_prob(lat, longo, date)
    print(count)
    values.append(pred[0])
    count +=1
  return values

In [115]:
val = mulitple_locust_prob(kenya, infestion_date)

predcition is [1]
0
predcition is [1]
1
predcition is [0]
2
predcition is [0]
3
predcition is [1]
4
predcition is [1]
5
predcition is [1]
6
predcition is [1]
7
predcition is [0]
8
predcition is [1]
9
predcition is [0]
10
predcition is [0]
11
predcition is [0]
12
predcition is [0]
13
predcition is [1]
14
predcition is [0]
15
predcition is [1]
16
predcition is [0]
17
predcition is [0]
18
predcition is [0]
19
predcition is [1]
20
predcition is [0]
21
predcition is [0]
22
predcition is [0]
23
predcition is [0]
24
predcition is [0]
25
predcition is [1]
26
predcition is [0]
27
predcition is [0]
28
predcition is [0]
29
predcition is [0]
30
predcition is [0]
31
predcition is [0]
32
predcition is [0]
33
predcition is [0]
34
predcition is [0]
35
predcition is [0]
36
predcition is [0]
37
predcition is [0]
38
predcition is [0]
39
predcition is [1]
40
predcition is [0]
41
predcition is [0]
42
predcition is [0]
43
predcition is [0]
44
predcition is [0]
45
predcition is [0]
46
predcition is [1]
47
predcition is [0]
48
predcition is [0]
49
predcition is [0]
50
predcition is [0]
51
predcition is [0]
52
predcition is [0]
53
predcition is [1]
54
predcition is [0]
55
predcition is [0]
56
predcition is [0]
57
predcition is [0]
58
predcition is [0]
59
predcition is [1]
60
predcition is [0]
61
predcition is [0]
62
predcition is [0]
63
predcition is [0]
64
predcition is [1]
65
predcition is [0]
66
predcition is [0]
67
predcition is [0]
68
predcition is [1]
69
predcition is [0]
70
predcition is [1]
71
predcition is [0]
72
predcition is [0]
73
predcition is [0]
74
predcition is [1]
75
predcition is [0]
76
predcition is [0]
77
predcition is [0]
78
predcition is [0]
79
predcition is [1]
80
predcition is [0]
81
predcition is [0]
82
predcition is [0]
83
predcition is [1]
84
predcition is [1]
85
predcition is [1]
86
predcition is [0]
87
predcition is [0]
88
predcition is [0]
89
predcition is [0]
90
predcition is [0]
91
predcition is [0]
92
predcition is [0]
93
predcition is [0]
94
predcition is [1]
95
predcition is [1]
96
predcition is [0]
97
predcition is [0]
98
predcition is [0]
99
predcition is [1]
100
predcition is [0]
101
predcition is [0]
102
predcition is [1]
103
predcition is [0]
104
predcition is [0]
105
predcition is [1]
106
predcition is [1]
107
predcition is [1]
108
predcition is [0]
109
predcition is [0]
110
predcition is [0]
111
predcition is [0]
112
predcition is [0]
113
predcition is [1]
114
predcition is [0]
115
predcition is [1]
116
predcition is [0]
117
predcition is [1]
118
predcition is [1]
119
predcition is [0]
120
predcition is [1]
121
predcition is [0]
122
predcition is [0]
123
predcition is [0]
124
predcition is [0]
125
predcition is [0]
126
predcition is [0]
127
predcition is [1]
128
predcition is [1]
129
predcition is [1]
130
predcition is [0]
131
predcition is [0]
132
predcition is [0]
133
predcition is [0]
134
predcition is [1]
135
predcition is [0]
136
predcition is [1]
137
predcition is [1]
138
predcition is [0]
139
predcition is [1]
140
predcition is [0]
141
predcition is [0]
142
predcition is [1]
143
predcition is [0]
144
predcition is [0]
145
predcition is [1]
146
predcition is [0]
147
predcition is [1]
148
predcition is [0]
149
predcition is [1]
150

In [118]:
new_kenya = kenya.head(151)

In [120]:
new_kenya["InfestationDatePrediction"] = val
new_kenya.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   Row  Latitude  Longitude  Value  InfestationDatePrediction
0    0  2.890300  37.314312     -1                          1
1    1  2.439163  38.226922     -1                          1
2    2 -3.230316  35.183446     -1                          0
3    3  3.248599  39.018753     -1                          0
4    4  0.153488  40.575585     -1                          1

In [121]:
val2 = mulitple_locust_prob(kenya, post_date)

predcition is [0]
0
predcition is [0]
1
predcition is [0]
2
predcition is [0]
3
predcition is [0]
4
predcition is [1]
5
predcition is [1]
6
predcition is [0]
7
predcition is [0]
8
predcition is [0]
9
predcition is [0]
10
predcition is [1]
11
predcition is [0]
12
predcition is [0]
13
predcition is [0]
14
predcition is [0]
15
predcition is [0]
16
predcition is [0]
17
predcition is [0]
18
predcition is [0]
19
predcition is [1]
20
predcition is [0]
21
predcition is [0]
22
predcition is [0]
23
predcition is [0]
24
predcition is [0]
25
predcition is [1]
26
predcition is [0]
27
predcition is [1]
28
predcition is [1]
29
predcition is [0]
30
predcition is [0]
31
predcition is [1]
32
predcition is [0]
33
predcition is [0]
34
predcition is [1]
35
predcition is [0]
36
predcition is [1]
37
predcition is [0]
38
predcition is [1]
39
predcition is [0]
40
predcition is [1]
41
predcition is [0]
42
predcition is [0]
43
predcition is [0]
44
predcition is [1]
45
predcition is [1]
46
predcition is [1]
47
predcition is [0]
48
predcition is [0]
49
predcition is [0]
50
predcition is [0]
51
predcition is [0]
52
predcition is [1]
53
predcition is [0]
54
predcition is [0]
55
predcition is [0]
56
predcition is [0]
57
predcition is [1]
58
predcition is [0]
59
predcition is [1]
60
predcition is [0]
61
predcition is [0]
62
predcition is [1]
63
predcition is [0]
64
predcition is [0]
65
predcition is [0]
66
predcition is [1]
67
predcition is [0]
68
predcition is [0]
69
predcition is [0]
70
predcition is [0]
71
predcition is [0]
72
predcition is [0]
73
predcition is [0]
74
predcition is [0]
75
predcition is [0]
76
predcition is [1]
77
predcition is [1]
78
predcition is [0]
79
predcition is [1]
80
predcition is [0]
81
predcition is [1]
82
predcition is [0]
83
predcition is [0]
84
predcition is [1]
85
predcition is [1]
86
predcition is [0]
87
predcition is [1]
88
predcition is [0]
89
predcition is [1]
90
predcition is [0]
91
predcition is [0]
92
predcition is [0]
93
predcition is [1]
94
predcition is [1]
95
predcition is [0]
96
predcition is [0]
97
predcition is [0]
98
predcition is [0]
99
predcition is [0]
100
predcition is [0]
101
predcition is [0]
102
predcition is [0]
103
predcition is [1]
104
predcition is [1]
105
predcition is [0]
106
predcition is [0]
107
predcition is [1]
108
predcition is [0]
109
predcition is [0]
110
predcition is [0]
111
predcition is [1]
112
predcition is [1]
113
predcition is [0]
114
predcition is [0]
115
predcition is [1]
116
predcition is [0]
117
predcition is [0]
118
predcition is [0]
119
predcition is [0]
120
predcition is [0]
121
predcition is [1]
122
predcition is [0]
123
predcition is [1]
124
predcition is [0]
125
predcition is [0]
126
predcition is [1]
127
predcition is [0]
128
predcition is [1]
129
predcition is [1]
130
predcition is [0]
131
predcition is [0]
132
predcition is [0]
133
predcition is [0]
134
predcition is [1]
135
predcition is [0]
136
predcition is [1]
137
predcition is [0]
138
predcition is [0]
139
predcition is [0]
140
predcition is [0]
141
predcition is [0]
142
predcition is [1]
143
predcition is [1]
144
predcition is [0]
145
predcition is [1]
146
predcition is [0]
147
predcition is [0]
148
predcition is [0]
149
predcition is [0]
150

In [122]:
new_kenya["NonInfestationDatePrediction"] = val2
new_kenya.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   Row  Latitude  ...  InfestationDatePrediction  NonInfestationDatePrediction
0    0  2.890300  ...                          1                             0
1    1  2.439163  ...                          1                             0
2    2 -3.230316  ...                          0                             0
3    3  3.248599  ...                          0                             0
4    4  0.153488  ...                          1                             0

[5 rows x 6 columns]

In [123]:
new_kenya.to_csv("new_kenya.csv")